footer {
    background-color: #111;
    color: #fff;
    height: 50px;
    width: 100%;
    position: relative;
    text-align: center;
    padding-top: 10px;
    font-family: 'Verdana', sans-serif;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}

nav {
    background-color: #111;
    color: #fff;
    padding: 10px 0;
}

.logo {
    flex-grow: 2;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.logo img {
    width: 80px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
}

.menu li {
    list-style: none;
    margin-left: 20px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-family: 'Verdana', sans-serif;
    font-weight: bold;
    padding: 10px 15px;
}

.menu a:hover {
    background-color: #fff;
    color: #111;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
